@use 'functions' as *;

$desktop-min: 1024.98;
$tablet-max: 1023.98;
$mobile-max: 768.98;

@mixin desktop {
  @media (width >= rem($desktop-min)) {
    @content;
  }
}

@mixin desktop-below {
  @media (max-width: rem($desktop-min)) {
    @content;
  }
}

@mixin tablet {
  @media (width < rem($tablet-max)) {
    @content;
  }
}

@mixin tablet-above {
  @media (min-width: rem($tablet-max)) {
    @content;
  }
}

@mixin tablet-below {
  @media (max-width: rem($tablet-max)) {
    @content;
  }
}

@mixin mobile {
  @media (width < rem($mobile-max)) {
    @content;
  }
}

@mixin mobile-above {
  @media (min-width: rem($mobile-max + 1)) {
    @content;
  }
}

@mixin hover($hasActiveEffectOnMobile: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if $hasActiveEffectOnMobile {
    @media (any-hover: none) {
      &:active {
        @content;
      }
    }
  }
}
