@use 'sass:math';
@use 'functions' as *;

@mixin flex-center($isRow, $isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  @if not $isRow {
    flex-direction: column;
  }

  justify-content: center;
  align-items: center;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin square($size) {
  width: $size;
  height: $size;
}