@use "../helpers" as *;

.control-buttons {
  width: 100%;
  display: flex;
  flex-grow: 1;
  gap: rem(16);

  @include desktop-below {
    width: fit-content;
    flex-direction: column;
    align-items: flex-end;
  }

  &__button {
    padding: calc(var(--padding-small) / 2);
    font-size: rem(20);
    font-weight: 600;
    color: var(--color-white);
    background-color: var(--color-orange-100);
    border: none;
    border-radius: var(--border-radius);
    transition-duration: var(--transition-duration);
    cursor: pointer;

    @include desktop-below {
      width: rem(140);
      font-size: fluid(20, 16);
    }

    @include hover {
      background-color: var(--color-orange-200);
    }
    
    &--aside {
      @include mobile-above {
        margin-left: auto;
      }
    }
  }
}