@use "../helpers" as *;

.todo {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: 2rem;

  > * {
    padding-block: var(--padding-small) var(--padding-big);
    background-color: var(--color-white);

    &:not(:first-child) {
      padding-left: var(--padding-small);
    }

    &:not(:last-child) {
      border-bottom: #{rem(2)} solid var(--color-gray);
    }
  }

  // Header related
  &__header {
    position: relative;
    z-index: 10;
    height: rem(90);
    display: flex;
    align-items: center;
    column-gap: rem(30);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    transition-duration: var(--transition-duration);

    &:has(.todo__input:focus) {
      border-color: transparent;
      box-shadow: var(--box-shadow);
    }
  }

  &__form {
    flex-grow: 1;
  }

  &__input {
    width: 100%;
    height: 100%;
    font-size: 1.05em;
    outline: none;
  }

  // Footer related
  &__footer {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}