@use "../helpers" as *;

.todo {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: rem(10);
  font-size: 2rem;
  background-color: var(--color-white);

  &__header {
    height: rem(90);
    display: flex;
    align-items: center;
    column-gap: rem(30);
    transition-duration: var(--transition-duration);

    &:has(.todo__input:focus) {
      box-shadow: 0 0 #{rem(2)} #{rem(2)} var(--color-orange-100);
    }
  }

  &__form {
    flex-grow: 1;
  }

  &__input {
    width: 100%;
    height: 100%;
    outline: none;
  }
}