@use "../helpers" as *;

.toggle-complete {
  position: relative;
  width: rem(100);
  height: 100%;
  @include flex-center(true);
  cursor: pointer;

  &__controller,
  &__emulator {
    @include square(100%);
  }

  &__controller {
    position: absolute;
    opacity: 0;

    &:checked ~ .toggle-complete__emulator::after {
      opacity: 1;
    }
  }

  &__emulator {
    position: relative;

    &::after {
      content: "❯";
      @include abs-center;
      color: var(--color-orange-100);
      opacity: 0.5;
      transition-duration: calc(var(--transition-duration) * 0.75);
      transform: rotate(90deg);
    }
  }
}