@use "./helpers" as *;

body,
button {
  font-family: var(--font-family), 'Segoe UI', sans-serif;
}

body {
  margin-top: rem(20);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(40);
  background-color: var(--color-background);
}

h1, .h1 {
  font-size: rem(64);
  font-weight: 700;
  color: var(--color-orange-100);

  @include desktop-below {
    font-size: fluid(64, 36);
  }
}