@use 'helpers' as *;

:root {
  --color-black: #1B1B1B;
  --color-white: #FFFFFF;

  --color-base: #ec8600;
  --color-orange-100: hsl(from var(--color-base) h calc(s + 20) l);

  --color-background: hsl(from var(--color-base) h calc(s - 50) calc(l + 45));

  --font-family: "Rubik";

  --transition-duration: 200ms;
}